.attachmentForFile{
    padding-top: 1.3rem;
    align-items: center;
    width: 82.4%;
    margin-left: 5.4rem;
    border-style: groove;
    margin-top: 1rem;
}
.LabelforFile{
margin-left: 5rem;
}
.InputforFile{
    height: 3rem;
}