.attachmentForFile{
    padding-top: 1.3rem;
    align-items: center;
    width: 82.4%;
    margin-left: 5rem;
    border-style: groove;
    margin-top: 1rem;
    padding-bottom: 5px;
}
.LabelforFile{
margin-left: 5rem;
}

.InputforFile{
background-color: rgb(187, 207, 245);
padding: 0.5rem 2rem;
border-radius: 10px;
cursor: pointer;
}

.configuration_buttons{
        display: flex !important;
        flex-direction: row;
        height: 15px !important;
        width: 15px !important;
        margin-top: 5px;
        margin-left: auto;
        margin-right: 3.3%;
}