.Form_section {
	float: left;
	/* padding: 1rem; */
	width: 70%;
	background-color: #f1f1f1;
	/* height: 310px;  */
	height: 81.5vh;
	margin-top: 0.7rem;
	overflow-y: scroll;
}
/* .halflabel{
    width: 80%;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1.5rem;
    padding-top: 0.7rem;

} */
label {
	margin-left: 5rem;
	display: flex;
	justify-content: left;
}
ul {
	list-style-type: none;
	margin-right: 3.7rem;
	/* box-shadow: .7x .7px .7px .7px #888888; */
}
ul li > * {
	width: 100%;
}
input {
	padding: 0.7rem;
	border-radius: 0.7rem;
	margin-top: 0.4rem;
	margin-bottom: 1rem;
	width: 80%;
}

.button_submit {
	color: white;
	/* padding: 10px; */
	border-radius: 1.3rem;
	background: #014283;
	padding: 0.7rem 1.4rem 0.7rem 1.4rem;
}
.form_padding {
	padding-top: 0.7rem;
}
