.Form_section {
    float: left;
    padding: 1rem;
    width: 70%;
    background-color: #f1f1f1;
    /* height: 310px;  */
    height: 72.5vh;
    margin-top: .7rem;
    overflow-y:scroll;

  }
.halflabel{
    width: 40%;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1.5rem;
    padding-top: 1rem;

}
ul{
    list-style-type: none;
    /* box-shadow: .7x .7px .7px .7px #888888; */

}
ul li > * {
    width: 100%;
}
input[type="text"] {
    padding: .7rem;
    border-radius: .7rem;
    margin-top: .7rem;
}


.button_submit {
    color: white;
    /* padding: 10px; */
    border-radius: 1.3rem;
    background: #014283;
    padding: .7rem 1.4rem .7rem 1.4rem;
}
.form_padding{
    padding-top: .7rem;
}