.formdiv{
    background-color: rgb(243, 231, 239);
    height: auto;
    width: 58%;
    position:fixed;
    z-index: 999;
    top: 1.7%;
    left: 21%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    font-weight: 400;
    overflow: hidden;
    pointer-events: auto;
    filter: blur(0rem);
}

.outer_div{
    /* filter: blur(100rem); */
    top: 0;
    left:0;
    opacity: 1;
    position: fixed ;
    height: 100vh !important;
    width: 100vw !important;
    background-color: rgba(0, 0, 0, 0.7);
}


#popdiv{
    position: fixed;
}
.headingFont{
    display: flex;
}

.add_values_button{
    margin-left: 20px;
    height: 30px;
    width: 25px;
}

.values_options_label{
    display: flex;
}

.select_box{
    margin-left: 15px;
    border-radius: 4px;
    height: 25px;
    width: 60px;
    margin-top: 7px;
}


.label_name{
    display: inline;
    flex-direction: column;
    /* margin-left: 2rem; */
}
.modal_content{
    margin-top: 4%;
    height: 26rem;
    display: flex;
    flex-direction: column;
}

.checkbox{
    display: flex;
    /* margin-top: 2rem; */
}
 
.label_field{
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 20%;
    margin-bottom: 1rem;
} 

.readOnlyDiv{
    display: flex;

}

.input_type{
    margin-right: 1rem;
    margin-top: 0.33rem;
    margin-left: 2rem;
    /* margin-bottom: 60px; */
    font-size: 40px;
}

.input_type[type="checkbox"] {
    margin-top: 9px;
    width: 15px;
    height: 15px;
    
}

.row_input_box{
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    border: none;
    height: 28px;
    width: 5rem;
    margin-left: 20%;
}

.input_box{
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    border: none;
    height: 28px;
    width: 32rem;
    margin-left: 20%;
}

.requiredDiv{
    display: flex;
}
.label_text_field{
    display: flex;
    margin-left: 20%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5%;
}

.placeholder_name{
    display: flex;
    flex-direction: column;
}
.remove_btn {
    background-color: rgb(1, 4, 12);
    border: none;
    width: 2.5rem;
    font-size: 1rem;
    padding: 7px 7px;
    cursor: pointer;
    margin-left: 30.5rem;
}

.remove_btn img {
    width: 25px;
    height: 25px;
}

.headers {
    background-color: rgb(1, 4, 12);
    margin-bottom: 2%;
    font-size: 23px;
    font-weight: 600;
    display: flex;
    height: 12%;
    width: 100%;
    border-radius: 6px;
}

.headers p{
    color: white;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

.textbox_content{
    margin-top: 5rem;
    display: flex;
}

.button {
    margin-top: 2rem;
    margin-left: 60%;
    display: flex;
}

.button button {
    color: #010113;
    background-color: rgb(253, 249, 251);
    font-size: 20px;
    border: 2px;
    border-color: brown;
    cursor: pointer;
    border-radius: 8px;
    height: 30px;
    width: 90px;
    font-size: 15px;
}

.button_spacing {
    margin:20px;
}

.button_footer{
    /* margin-top: 8.5rem; */
    border-radius: 4px;
    background-color: rgb(1, 4, 12);
}

.text_input {
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    border: none;
    height: 28px;
    width: 23rem;
    margin-left: 20%;
}


.switch-field {
    display: flex;
    margin-bottom: 2%;
    overflow: hidden;
    margin-left: 20%;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #9696a1;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}