header {
  display: flex;
    background-color: #666;
    padding: .4rem .5rem .4rem .5rem;
    text-align: left;
    font-size: .7rem;
    color: white;
    /* max-height: 20px; */
  }
.head1{
  margin-right: 0.8rem;
  width: 20.7%;
  width: 20.2vw;
}
.head2{
  /* width: 72%; */
  width: 70.4vw;
}
.head3{
  cursor: pointer;
}
.head3:hover{
  color: #aba5a5;
}
 .tophead{

  display: flex;
 }