header {
  display: flex;
    background-color: #666;
    padding: .4rem .5rem .4rem .5rem;
    text-align: left;
    font-size: .7rem;
    color: white;
    /* max-height: 20px; */
  }
.head1{
  margin-right: 0.5rem;
  width: 277px;
}
.head2{
  width: 1040px;
}
 .tophead{

  display: flex;
 }