nav {
    float: left;
    width: 20%;
    height: 79vh;
    /* height: calc(100% - 55rem - 15rem); */
    /* max-height: 100%;
    height: auto; */
    background: #f7f7f7;
    /* padding-right: 2rem; */
    margin: .65rem;
    
    /* padding-top: 1rem; */
  }
  nav ul {
    list-style-type: none;
    padding-left: 0;
  
  }
  nav li{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 1rem .3rem 1rem .3rem;
    text-align: center;
    color: rgb(0, 0, 0)!important;
    background-color: #9aa9b8;
    margin-top: .3rem;
    border-radius: .5rem;
    /* margin-left: 2.3rem; */
    width: 17.3vw;
    cursor: pointer;
  }

.options li:hover{
  background-color:#657685 ;
}

  .headings{
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 55px;
  }

 
  /* .icons{
    display: flex;
    justify-content: center;
  } */
  /* .options li{
    padding: 1rem .3rem 1rem .3rem;
  } */

  .icons{
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    font-size: large;
    font-weight: 600;
}

.title{
  color: black;
  display: flex;
  /* margin: 5px 0px 5px 38px; */
  border-radius: 10px;
  background-color: #57565649;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: 500;
  margin-bottom: 1rem;
  /* margin-top: 1rem; */
}
.content{
  color:#8b7f75 ;
  max-height: 0;
  /* display: none; */
  overflow: hidden;
  transition: all 0s cubic-bezier(0,1,0,1);
}
.content.show{
  height: auto;
  display: inline!important;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

 .options{
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
width: 100%;
  /* justify-content: left; */
  /* align-items: center; */
  height: 350px;
  justify-content: space-between;
} 
.options img{
  /* display: flex; */
padding-right: 70px;
  width: 20px;
  height: 20px;
}

.options li{
  display: flex;
  justify-self: flex-start;
  /* align-items: center; */
  /* justify-content: center; */
}

